.home-page {
    margin-top:8rem;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-page h1 {
    font-size: 4rem;
}

.home-page img {
    width: max-content;
}