@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0f0f0;
}

.btn-login {
    text-decoration: none;
    color: #00ff88;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.btn-login:hover {
    color: #2b134b;
}

.main-login {
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Defina a altura da div principal para ocupar toda a altura da viewport */
}

.left-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./login-img.png') center center no-repeat; /* Adicione o caminho da sua imagem */
    background-size: cover;
}

.left-login h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.left-login img {
    width: 60%; 
    max-width: 700px; 
}

.right-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.56);
}

.card-login h1 {
    color: #00ff88;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.textfield {
    width: 100%;
    margin: 10px 0;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 14px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.56);
    outline: none;
    box-sizing: border-box;
}

.textfield input::placeholder {
    color: #f0ffff94;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 5px;
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: #00ff88;
    transition: background 0.3s ease-in-out;
}

.btn-login:hover {
    background: #2b134b;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
        padding: 20px;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login img {
        width: 80%;
        max-width: 300px;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
        margin-top: 20px;
    }
}
