@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0f0f0; /* Cor de fundo para o corpo */
}

/* Estilize o link de login */
.btn-login a {
    text-decoration: none;
    color: #00ff88; /* Cor do link de login */
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Efeito de transição suave para a cor */
}

.btn-login a:hover {
    color: #2b134b; /* Cor ao passar o mouse */
}

/* Estilize o contêiner principal */
.main-login {
    height: calc(100vh - 56px);
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilize a seção esquerda com a imagem */
.left-login {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.left-login-image {
    width: 60%; /* Ajuste a largura da imagem conforme necessário */
    max-width: 350px; /* Defina uma largura máxima para a imagem */
    border-radius: 10px; /* Adicione um leve arredondamento à imagem */
    box-shadow: 0px 10px 40px #00000056;
}

/* Estilize a seção direita do formulário de login */
.right-login {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilize o cartão de login */
.card-login {
    width: 80%; /* Ajuste a largura do cartão conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.56);
}

.card-login > h1 {
    color: #00ff88;
    font-weight: bold;
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento inferior para o título */
}

/* Estilize os campos de entrada */
.textfield {
    width: 100%;
    margin: 10px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 14px; /* Aumente o tamanho da fonte para melhor legibilidade */
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.56);
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 5px; /* Reduza o espaçamento inferior para as etiquetas */
}

/* Estilize o botão de login */
.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: #00ff88;
    transition: background 0.3s ease-in-out; /* Efeito de transição suave para o fundo */
}

.btn-login:hover {
    background: #2b134b; /* Cor de destaque ao passar o mouse */
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
        padding: 20px; /* Adicione um espaçamento interno na visualização móvel */
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 80%;
        max-width: 300px; /* Ajuste a largura máxima da imagem móvel */
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
        margin-top: 20px; /* Espaçamento superior adicional na visualização móvel */
    }
}
